astroid==2.3.2
autopep8==1.4.4
cffi==1.13.0
colorama==0.4.1
coverage==4.5.4
cryptography==2.8
Django==2.2.6
django-crispy-forms==1.8.0
django-nose==1.4.6
django-rest-knox==4.1.0
djangorestframework==3.10.3
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
nose==1.3.7
Pillow==9.3.0
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.3
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
wrapt==1.11.2