{% extends "recipe_blog/base.html" %}
{% block content %}


<article id="article" class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div id="NonOverflow" class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                <h2 class="article-title">{{ object.recipe }} </h2>
                <i class="article-cuisine">Cuisine - {{ object.cuisine }}</i>
            </div>
            {% endif %}
        </div>
        <div>

            <img class="img-responsive" src="{{ post.image.url }}">
            <h4>Description</h4>
            <p class="article-content">{{ object.description }}</p>
            <h4>Ingredients</h4>
            <pre style="white-space:pre-wrap>
                <p class=" article-ingredients">{{ object.ingredients}}</p>
            </pre>
            <h4>Cooking method</h4>
            <p class="article-method">{{ object.method }}</p>
        </div>
    </div>
</article>
{% endblock content %}